@import "../base/variables";

/*--------------FOOTER-----------*/
footer {
    background-color: $color-principal;
    font-family: 'Exo', sans-serif;
    color: $color-secundario;
    @extend %flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-area: footer;

    .logoContacto {
        margin: 0px;
        margin-top: 0;

        a {
            img {
                @include dimensions (30px, 30px);
                &:hover {
                    scale: 1.2;
                }
            }
        }
    }

    .footerNewsletter {
        margin: 10px;
        text-align: center;

        h2 {
            color: $color-terciario;
            padding: 0;
            margin: 10px;
            font-size: 24px;
            font-weight: 800;
        }

        p {
            margin: 0;
            padding: 0;
            font-size: small;
        }

        input {
            width: 300px;
            height: 20px;
        }
        button{
            font-family: 'Exo', sans-serif;
            font-size: 16px;
            color: $color-secundario;
            background-color: $color-terciario;
            border: 1px $color-secundario;
            width: 60px;
            height: 22px;
        }
    }

    .footerTexto {
        padding: 0px;
        margin: 0px;
        font-size: small;
        p{
            padding: 0;
            margin: 0;
        }
    }
}